/* Colors */

:root {
  --vp-c-brand: #62b6e7;
  --vp-c-brand-1: #0ea5e9;
  --vp-c-brand-2: #38bdf8;
  --vp-c-brand-3: #62b6e7;
  --vp-c-brand-soft: #62b6e746;

}

/* Images */

.vp-doc .fillbg img {
  border-radius: 8px;
  margin: auto;
}

/* .dark .vp-doc .fillbg img {
  background-color: #fff;
} */

/* Custom Block */

.vp-doc .custom-block {
  font-size: 16px;
}
.vp-doc .custom-block p {
  line-height: 26px;
}
.vp-doc .custom-block .custom-block-title {
  font-size: 18px;
}
